<div>
    <h1>Plantilla función simple</h1>
    <form #plantillaForm="ngForm">
        <select #selectfuncion name="selectfuncion" class="form-control">
            @for (funcion of funciones; track funcion){
                <option>{{funcion}}</option>
            }
        </select>
        <button (click)="mostrarPlantilla()" class="btn btn-warning">
            Show plantilla
        </button>
    </form>
    <hr/>
    @if (plantilla.length != 0){
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Apellido</th>
                    <th>Función</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                @for (plan of plantilla; track plan){
                    <tr>
                        <td>{{plan.apellido}}</td>
                        <td>{{plan.funcion}}</td>
                        <td>{{plan.salario}}</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>