<div>
    <ul id="menu">
        <li>
            <a [routerLink]="['/']">Home | </a>
        </li>
        <li>
            <a [routerLink]="['/jugadores']">Players | </a>
        </li>
        <li>
            <a [routerLink]="['/personas']">Personas Api | </a>
        </li>
        <li>
            <a [routerLink]="['/coches']">Coches Api |</a>
        </li>
        <li>
            <a [routerLink]="['/plantillasimple']">Plantilla simple |</a>
        </li>   
        <li>
            <a [routerLink]="['/plantillamultiple']">Plantilla múltiple |</a>
        </li>                 
    </ul>
</div>